<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../components/task-input.html">
<link rel="import" href="../components/task-filter.html">
<link rel="import" href="../components/task-list.html">
<dom-module id="task-app">
    <template>
        <task-input on-added-task="_addedTask"></task-input>
        <br/>
        <task-filter filter="{{filter}}"></task-filter>
        <br/>
        <br/>
        <task-list tasks="[[tasks]]" filter="{{filter}}" on-completed-task="_completedTask" ></task-list>
    </template>
    <script>
        class TaskApp extends Polymer.Element{
            static get is()
            {
                return "task-app"
            }

            static get properties(){
                return {
                    filter:{
                        type:String,
                        value:""
                    },
                    tasks:{
                        type: Array,
                        value:[
                            {
                                taskText:"mi primera tarea", 
                                completed:false
                                }
                            ]
                    }
                };
            }

            _addedTask(event){
                console.log(event)
                tasks.put({taskText:event.detail.taskValue, completed: false})
            }

            _completedTask(event){
                console.log(event)
            }
        }
        console.log(TaskApp.properties.tasks)
        customElements.define(TaskApp.is, TaskApp)
    </script>
</dom-module>
