<link rel="import" href="../bower_components/polymer/polymer.html">
<dom-module id="task-input">
    <template>
        <input id="inputTask"/>
        <input id="btnSave" type="button" value="Guardar" on-click="_addedTask"/>
    </template>
    <script>
        class TaskInput extends Polymer.Element{
            static get is()
            {
                return "task-input"
            }

            static get properties()
            {   
            }

            _clickHandler(event){
                const addedTask = new CustomEvent("added-task", {
                    detail:{taskValue: this.shadowRoot.getElementById("inputTask").value}
                })
                this.dispatchEvent(addedTask)
            }
        }
        /*
        _saveTask = CustomEvent(){

        }
        */
        customElements.define(TaskInput.is, TaskInput)
    </script>
</dom-module>